.card-mesa {
    margin: 0.5em 0.8em;
    transition: box-shadow .3s;
}

.card-mesa:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.cabecalho-mesa {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.texto-mesa {
    font-size: 0.9em;
}

.icone-mesa {
    color: gray;
}

.btn-fechar {
    border: none;
    padding: 0.5em;
    background: #17A2B8;
    color: #FFF;
    font-weight: bold;
    border-radius: 0 0 4px 4px;
}

.btn-fechar:hover {
    background: #186f7c;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 200ms linear;
}

.txt-comprimido {
    max-width: 250px;
    font-size: 20dp;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sol-pag{
    position: relative;
    right: -50px;
}