.card-mesa {
    margin: 0.5em 0.8em;
}

.card-mesa:hover {
    border: thin solid gray;
}

.cabecalho-mesa {
    text-align: center;
}

.texto-mesa {
    font-size: 0.9em;
}

.icone-mesa {
    color: gray;
}