.footer-content {
    background-color: #F4F6F9;
}

.texto-total {
    font-size: 25px;
    font-weight: bold;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}