.itens-promocao {
    height: 10em;
    overflow-y: scroll;
}

.selecao-itens {
    border: thin dashed rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin-top: 2em;
    padding: 2em;
}

.lista-itens {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 8em;
    overflow-y: auto;
}

.lista-itens .item {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 1em;
}

.lista-itens .item .btn-excluir {
    color: red;
    cursor: pointer;
}