.info-header {
    display: flex;
}

.btn-finalizar {
    margin: 0.8em;
}

/* Small devices (landscape phones, 576px and up) */

@media (max-width: 576px) {
    .info-header {
        flex-direction: column;
    }
}

/* Medium devices (tablets, 768px and up) */

@media (max-width: 768px) {
    .info-header {
        flex-direction: column;
    }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .info-header {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .info-header {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.info-header .text-header {
    font-size: 1.2em;
    font-weight: bold;
}